.all-width-height-100{
    width: 100%;
    height: 100%;
}

.div-border{
    border: 1px #acacac solid;
    border-radius: 4px;
}

.font-center-text{
    font-family: 'Noto Sans', sans-serif;
}

.font-18px-898989{
    font-size: 18px;
    color: #898989;
}

.div-button{
    cursor: pointer;
    width: 344px;
    height: 68px;
    border-radius: 4px;
    border: 1px solid #9f5da4;
    padding: 23px;
}

.font-button-text{
    color : #9f5da4;
    font-size: 18px;
}

.img-join{
    width: 190px;
    height: 150px;
}

.font-30px-main-title{
    font-size : 30px;
}

.font-24px-454545-title{
    margin-left: 10px;
    font-size : 24px;
    colot : #454545;
}

.td-border-puple{
    border-left : 4px solid #9f5da4;
}

.div-overlap{
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: #FFFFFF !important;
    font-size: 14px;
    background-color: #b7c2c4;
    border-radius: 4px;
}

.input-text-area{
    width: 200px;
    height: 30px;
}

.font-16px-subtitle{
    color : #454545;
    font-size: 16px;
}

.font-12px-898989{
    font-size: 12px;
    color: #898989;
}

.selectbox-interests{
    width: 200px;
    height: 30px;
    background-color: #FFFFFF !important;
}

.font-14px-454545{
    color : #454545;
    font-size: 14px;
}

.textarea-setting{
    width: 100%;
    height: 120px;
    resize: none;
}