.all-width-height-100{
    width: 100%;
    height: 100%;
}

.font-24px-bold-454545{
    font-size: 24px;
    font-weight:bold;
    color : #454545;
}

.table-border{
    border-radius: 4px;
    border: 1px solid #acacac;
}

.table-facebook{
    background-color: #3b60b1;
}

.table-naver{
    background-color: #10cd01;
}

.font-social-text{
    color: #FFFFFF;
    font-size: 16px;
}

.font-social-text-height{
    color: #FFFFFF;
    font-size: 14px;
}

.div-social-btn{
    border-radius: 4px;
    width: 364px;
    height: 68px;
    padding: 17px;
    cursor: pointer;
}

.div-social-btn-height{
    border-radius: 4px;
    width: 240px;
    height: 60px;
    padding: 17px;
    cursor: pointer;
}

.font-16px-454545{
    color : #454545;
    font-size: 16px;
}

.div-find-btn{
    float: right;
    width: auto;
    cursor: pointer;
}

.font-14px-898989{
    font-size: 14px;
    color : #898989;
}

.font-14px-898989:hover{
    color : #454545;
}

.input-login{
    width: 270px;
    height : 68px;
}

.div-login-btn {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding:20px;
    font-size: 20px;
    color: #9f5da4;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #9f5da4;
}

.div-login-btn-height {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding:10px;
    font-size: 20px;
    color: #9f5da4;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #9f5da4;
}

.div-login-btn:hover{
    color: #FFFFFF;
    background-color: #9f5da4;
}

.div-login-btn-height:hover{
    color: #FFFFFF;
    background-color: #9f5da4;
}