.all-width-height-100{
    width: 100%;
    height: 100%;
}

.font-30px-bold-ffffff{
    font-size: 30px;
    font-weight: bold;
    color : #FFFFFF;
}

#div-main-explain-area{
    width: 100%;
    height: auto;
    background-color: #e26b5d;
}

.font-20px-ffffff{
    font-size: 20px;
    color: #FFFFFF;
}

.div-logo-btn{
    width: 120px;
    height: 30px;
    background-color: #b7c2c4;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    padding: 3px;
}

.div-login-btn {
    cursor: pointer;
    width: 344px;
    height: 68px;
    border-radius: 4px;
    padding:20px;
    font-size: 20px;
    color: #9f5da4;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #9f5da4;
}

.div-login-btn:hover{
    color: #FFFFFF;
    background-color: #9f5da4;
}

.input-100per-30{
    width: 100%;
    height: 30px;
}

.font-16px-454545{
    font-size: 16px;
    color : #454545;
}

.border-1px-solid-454545{
    border: 1px solid #454545;
}

.div-program{
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 13px;
}

.font-26px-454545{
    font-size: 26px;
    color: #454545;
}

.textarea-setting{
    width: 100%;
    height: 100%;
    resize: none;
}

.td-border-puple{
    border-left : 4px solid #9f5da4;
}

.textarea-aubout-me{
    width: 100% !important;
    height : 100% !important;
    border: none;
}

.table-aubout-me tr{
    background-color: #f8f8f8;
    border: 1px solid #c2c2c2;
}

.font-30px-bold-9f5da4{
    color: #9f5da4;
    font-size: 30px;
    font-weight: bold;
}

.font-14px-454545{
    font-size: 14px;
    color: #454545;
}

.font-20px-bold-9f5da4{
    color: #9f5da4;
    font-size: 20px;
    font-weight: bold;
}

#div-main-text-explain-area{
    margin-top: -45px;
    background-color: #ebebeb;
}

#div-main-graph-area{
    margin-top: -45px;
}

.font-26px-bold-ffffff{
     color : #FFFFFF;
     font-size: 26px;
     font-weight: bold;
 }

.font-21px-bold-ffffff{
    color : #FFFFFF;
    font-size: 21px;
    font-weight: bold;
}

#div-main-advantage-explain-area{
    margin-top: -45px;
    margin-bottom: -46px;
    background-color: #f2b964;
}

.font-14px-ffffff{
    color: #FFFFFF;
    font-size : 14px;
}

.font-30px-bold-454545{
    font-size: 30px;
    font-weight:bold;
    color : #454545;
}

.div-profile-menu{
    width: 208px;
    height: 52px;
    border-radius: 4px;
    font-size: 16px;
    color : #9f5da4;
    background-color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    border: solid 1px #9f5da4;
    padding: 9px;
}

.div-profile-menu:hover{
    color: #FFFFFF;
    background-color: #9f5da4;
}

.active{
    color: #FFFFFF !important;
    background-color: #9f5da4 !important;
}

.hide{
    display: none;
}

.item-float-left{
    float: left;
}

.div-interests-area{
    width: 80px;
    height: 50px;

}